<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-Mail Address</ion-label>
        <ion-input
          id="email-input"
          name="email"
          type="email"
          [(ngModel)]="email"
          #emailInput="ngModel"
          required
          email
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          id="password-input"
          name="password"
          type="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <div class="error-message">
      <div
        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
      >
        <div *ngIf="emailInput.errors.email">
          E-Mail Address must have a valid format
        </div>
        <div *ngIf="emailInput.errors.required">E-Mail Address is required</div>
      </div>

      <div
        *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
      >
        <div *ngIf="passwordInput.errors.required">Password is required</div>
      </div>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      id="signin-button"
      expand="full"
      [disabled]="!loginForm.form.valid"
      (click)="signIn()"
      >Sign In
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
